@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*, 
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.clock {
    width: 500px;
    // background-color: black;
    
    &__heading {
        font-family: 'Playfair Display', sans-serif;
        font-weight: black;
    }

    &__text {
        font-family: Lato;
        text-transform: uppercase;
        text-align: center;
    }

    &__body {
        display: flex;
        padding: 3rem 0;
    }

    #clock-indicator {
        text-align: center;
        padding: 1rem;
        background-color: rgb(156, 74, 238);
        color: white;
        margin: .5rem;
        border-radius: .4rem;

        font: {
            size: 40px;
        }
    }
}