
$background-color: #1A241A;
$interactive-color: #14E266;
$cicle-background: #C9C9C9;


*, *:before, *:after {
    padding: 0;
    margin: 0;
    color: white;
}

body {
    position: relative;
}

body {
    height: 100vh;
    overflow-y: hidden;
}



.container {
    height: 100%;
    padding: 50px 30px;
    background-color: $background-color;
}

header h1 {
    margin-bottom: 70px;
    font-family: 'Playfair Display';
    font-weight: 900;
    text-transform: uppercase;

    span {
        color: $interactive-color;
    }
}

.clock {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;


    &__text, 
    .am-pm {
        text-transform: uppercase;
        font: {
            family: Lato;
            size: 12px;
        }
    }

  

    .hours, 
    .minutes, 
    .seconds {
        font-family: Lato;
        
    }


    .hours, 
    .minutes {
       background-color: $cicle-background;
       padding: 20px;
       font-size: 50px;
       border-radius: 50%;
       color: $background-color;
       margin-bottom: 1rem;
    }

    .seconds {
        background-color: white;
        color: $background-color;
        margin: 10px 0;
        border-radius: 10px;
        padding: 15px 0;
    }


    .am-pm {
        padding: 5px 15px;
        background-color: #14E266;
        border-radius: 15px;
        text-transform: uppercase;
    }

}

footer {
    padding: 1rem;
    position: absolute;
    left: 0;
    bottom: 100px;

    p {
        text-align: center;
        font-size: 40px;
        font-family: 'Playfair Display';
        font-weight: 900;
        span {
            color: $interactive-color;
        }
    }

}

